* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark-navy: #111827;
  --off-white: gainsboro;
  --green: #3f3; /* limegreen; */

  --user-font-scale: 1rem - 16px;
  --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}

main {
  background: var(--off-white);
  color: var(--dark-navy);
  font-family: 'VT323', monospace;
  font-size: 28px;
  min-height: 100vh;
  padding: min(2rem, 2%);
  transition: color 1s ease, background 1s ease;
  width: 100%;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p + p {
  margin-top: 1em;
}

ol {
  margin-top: 1em;
}
