/* vt323-regular - latin */
@font-face {
  font-display: swap;
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url("../fonts/vt323-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/vt323-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark-navy: #111827;
  --off-white: gainsboro;
  --green: #3f3; /* limegreen; */

  --user-font-scale: 1rem - 16px;
  --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--foreground);
  text-decoration-color: var(--anchor-alt);
  text-decoration-style: dotted;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1.5px;
  transition: color 1s ease, text-decoration-color 1s ease;
}

a:hover {
  text-decoration: underline;
}

article a[href*="//"]::after {
  background-color: var(--anchor-alt);
  content: "";
  display: inline-block;
  height: 0.8rem;
  margin-left: 8px;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  transition: background-color 1s ease;
  width: 0.8rem;
}

article a[href*="//"]:hover::after {
  background-color: var(--foreground);
}

main {
  --anchor-alt: fuchsia;
  --background: var(--off-white);
  --foreground: var(--dark-navy);
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  font-family: "VT323", monospace;
  font-size: 28px;
  justify-content: space-between;
  min-height: 100vh;
  padding: min(2rem, 2%) min(2rem, 2%) 1rem;
  transition: color 1s ease, background 1s ease;
  width: 100%;
}

main > article {
  flex: 1 0 auto;
}

main > footer {
  align-items: center;
  display: flex;
  font-size: 20px;
  gap: 1em;
  justify-content: flex-end;
  line-height: 1.2em;
  margin-top: 2em;
  opacity: 0.5;
  padding: 0 1em;
  transition: opacity 0.3s ease;
}

main > footer:hover {
  opacity: 0.8;
}

main > footer a {
  display: flex;
}

main > footer svg {
  margin-top: -4px;
  width: 2em;
}

main > footer svg path {
  fill: white;
}

main > footer svg rect {
  fill: grey;
}

section {
  margin: 2em min(1rem, 1%);
  padding-bottom: 2em;
  position: relative;
}

section::after {
  border-bottom: 1px solid var(--foreground);
  bottom: 0;
  content: "";
  height: 1px;
  left: 10%;
  position: absolute;
  width: 80%;
}

section header {
  margin-bottom: 1em;
}

section a {
  display: block;
  margin-top: 1em;
  text-align: center;
}

section a.top {
  float: right;
  margin-right: 2em;
  text-decoration-skip-ink: none;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p + p {
  margin-top: 1em;
}

ol {
  margin-top: 1em;
}


input#dark-mode:checked ~ main {
  --anchor-alt: darkorange;
  --background: var(--dark-navy);
  --foreground: var(--green);
}

@media (prefers-color-scheme: dark) {
  main {
    --anchor-alt: darkorange;
    --background: var(--dark-navy);
    --foreground: var(--green);
  }
}
