---
import { execSync } from "node:child_process";

import Header from "../components/header.astro";
import DarkModeToggle from "../components/dark-mode-toggle.astro";

const commit = execSync("git rev-parse --short HEAD").toString().trim();
const datetime = new Date().toISOString();

let baseHref = Astro.site.href.replace(/\/$/, "");
let title = 'Chatbots & Philosophy';
---
<html lang="en">
<head prefix="dcterms: http://purl.org/dc/terms/#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="version" content={commit}>
	<meta name="dcterms.modified" content={datetime}>
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="preload" href={baseHref + "/fonts/vt323-v12-latin-regular.woff2"} as="font" type="font/woff2" crossorigin="anonymous">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={baseHref + "/style/global.css"}>
</head>
<body>
	<DarkModeToggle/>
	<main>
		<Header/>
		<article>
   	  <p>The aim of this exercise is:<br>
			&nbsp; 1) to show how pre-machine learning chatbots react to user input; and<br>
			&nbsp; 2) to get a feel for how chatbots progressed before the arrival of transformer models.</p>

			<p>We have chosen three classic chatbots: Eliza (1966), Alice (1995), Kuki (2005).</p>

			<ol>
				<li>Please agree as a group on five prompts that you enter in each chatbot.</li>
				<li>We suggest you use the same five with all chatbots so you can compare the results.</li>
				<li>Use different types of prompts: Statement, question, math task, metaphor etc.</li>
			</ol>

			<section>
				<header><h3>ELIZA</h3></header>
				<blockquote>
					ELIZA is an early natural language processing computer program created from 1964 to 1966 at the MIT Artificial Intelligence Laboratory by Joseph Weizenbaum. Created to demonstrate the superficiality of communication between humans and machines, Eliza simulated conversation by using a "pattern matching" and substitution methodology that gave users an illusion of understanding on the part of the program, but had no built in framework for contextualizing events. Directives on how to interact were provided by "scripts", written originally in MAD-Slip, which allowed ELIZA to process user inputs and engage in discourse following the rules and directions of the script. The most famous script, DOCTOR, simulated a Rogerian psychotherapist (in particular, Carl Rogers, who was well-known for simply parroting back at patients what they had just said), and used rules, dictated in the script, to respond with non-directional questions to user inputs. As such, ELIZA was one of the first chatterbots and one of the first programs capable of attempting the Turing test.
				</blockquote>
				<a href="https://web.njit.edu/~ronkowit/eliza.html" title="ELIZA" target="ELIZA">Chat with ELIZA</a>
			</section>

			<section>
				<header><h3>A.L.I.C.E.</h3></header>
				<blockquote>
					<p>A.L.I.C.E. (Artificial Linguistic Internet Computer Entity), also referred to as Alicebot, or simply Alice, is a natural language processing chatterbot—a program that engages in a conversation with a human by applying some heuristical pattern matching rules to the human's input. It was inspired by Joseph Weizenbaum's classical ELIZA program. It is one of the strongest programs of its type and has won the Loebner Prize, awarded to accomplished humanoid, talking robots, three times (in 2000, 2001, and 2004). The program is unable to pass the Turing test, as even the casual user will often expose its mechanistic aspects in short conversations.</p>
					<p>Alice was originally composed by Richard Wallace; it "came to life" on November 23, 1995. The program was rewritten in Java beginning in 1998. The current incarnation of the Java implementation is Program D. The program uses an XML Schema called AIML (Artificial Intelligence Markup Language) for specifying the heuristic conversation rules.</p>
				</blockquote>
				<a href="http://www.mfellmann.net/content/alice.html" title="A.L.I.C.E." target="A.L.I.C.E.">Chat with A.L.I.C.E.</a>
			</section>

			<section>
				<header><h3>Kuki</h3></header>
			  <blockquote>
					<p>Kuki, formerly known as Mitsuku, is a chatbot created from Pandorabots AIML technology by Steve Worswick. It is a five-time winner of a Turing Test competition called the Loebner Prize (in 2013, 2016, 2017, 2018, and 2019), for which it holds a world record. Kuki is available to chat via an online portal, and on Facebook Messenger, Twitch group chat, Telegram, Kik Messenger, Discord, and was available on Skype, but was removed by its developer. The AI also has accounts on Instagram, TikTok, Youtube, and Twitter, as well as a game on Roblox.</p>
					<p>Kuki claims to be an 18-year-old female chatbot from Leeds, England. It contains all of Alice's AIML files, with many additions from user generated conversations, and is always a work in progress. Worswick claims she has been worked on since 2005. Early work by one of the company's co-founders inspired the Spike Jonze movie Her.</p>
				</blockquote>
				<a href="https://chat.kuki.ai/" title="kuki.ai" target="kuki.ai">Chat with Kuki</a>
			</section>
		</article>
		<footer>
		  This page was built with Astro.build and ships zero Javascript.
		  <a href="https://github.com/simonwiles/chatbots-and-philosophy-site" target="_blank" rel="noopener">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					aria-label="GitHub"
					role="img"
					viewBox="0 0 512 512">
					<rect width="512" height="512" rx="15%"></rect>
					<path
						d="M335 499c14 0 12 17 12 17H165s-2-17 12-17c13 0 16-6 16-12l-1-50c-71 16-86-28-86-28-12-30-28-37-28-37-24-16
							 1-16 1-16 26 2 40 26 40 26 22 39 59 28 74 22 2-17 9-28 16-35-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-32 3-67
							 0 0 21-7 70 26 42-12 86-12 128 0 49-33 70-26 70-26 14 35 6 61 3 67 16 18 26 41 26 69 0 98-60 120-117 126 10 8 18
							 24 18 48l-1 70c0 6 3 12 16 12z">
					</path>
				</svg>
			</a>

		</footer>
	</main>
</body>

</html>
