---
import Header from "../components/header.astro";
let title = 'Chatbots & Philosophy';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/style/global.css">
</head>
<body>
	<main>
		<Header/>
		<article>
   	  <p>The aim of this exercise is 1) to show how pre-machine learning chatbots react to user input and 2) to get a feel for how chatbots progressed before the arrival of transformer models.</p>

			<p>We have chosen three classic chatbots: Eliza (1966), Alice (1995), Kuki (2005).</p>

			<p>1. Please agree as a group on five prompts that you enter in each chatbot.</p>

			<p>2. We suggest you use the same five with all chatbots so you can compare the results.</p>

			<p>3. Use different types of prompts: Statement, question, math task, metaphor etc.</p>
		</article>
	</main>
</body>

</html>
