---
import Header from "../components/header.astro";
import DarkModeToggle from "../components/dark-mode-toggle.astro";

let baseHref = Astro.site.href.replace(/\/$/, "");
let title = 'Chatbots & Philosophy';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="preload" href={baseHref + "/fonts/vt323-v12-latin-regular.woff2"} as="font" type="font/woff2" crossorigin="anonymous">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={baseHref + "/style/global.css"}>
</head>
<body>
	<DarkModeToggle/>
	<main>
		<Header/>
		<article>
   	  <p>The aim of this exercise is:<br>
			&nbsp; 1) to show how pre-machine learning chatbots react to user input; and<br>
			&nbsp; 2) to get a feel for how chatbots progressed before the arrival of transformer models.</p>

			<p>We have chosen three classic chatbots: Eliza (1966), Alice (1995), Kuki (2005).</p>

			<ol>
				<li>Please agree as a group on five prompts that you enter in each chatbot.</li>
				<li>We suggest you use the same five with all chatbots so you can compare the results.</li>
				<li>Use different types of prompts: Statement, question, math task, metaphor etc.</li>
			</ol>
		</article>
	</main>
</body>

</html>
